.popup-container {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;

  /* Animation */
  animation: slide-in 0.3s forwards;
  transform: translate(-50%, 150%);
  transition: transform 0.3s ease-out;
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@keyframes slide-in {
  from {
    transform: translate(-50%, 150%);
  }
  to {
    transform: translate(-50%, 0);
  }
}
